.container {
  text-decoration: none;
  width: 210px;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(20, 20, 20, 0.2), 0 3px 1px 0 rgba(20, 20, 20, 0.2);
  margin: 1rem auto;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.container:hover {
  transform: scale(1.03);  
}

.movie_info {
  color: #000;
  text-align: center;
}

.movie_info_title {
  font-size: 1rem;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.movie_info_genres {
  font-size: 0.8rem;
  font-style: italic;
  padding: 5px;
  white-space: nowrap;
}

.movie_info_rating {
  color:rgba(20, 20, 20, 0.7);
  padding: 5px;
}

.movie_info button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  cursor: pointer;
}

.like_btn {
  background-color: red;
}

.unlike_btn {
  background-color: green;
}

.share_btn {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  cursor: pointer;
  background-color: green;
}