.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.search_panel_container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
}

.search_panel_container p {
  text-align: center;
}

.clear_button_container,
.search_by_name_container,
.search_by_genres_container {
  display: grid;
  align-content: center;
  justify-content: center;
}

.sort_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.sort_btns_container button {
  display: inline-block;

}