.container {
  display: flex;
  margin: 2rem 0;
}

.container img {
  margin-right: 2rem;
}

.single_movie_info p {
  margin: 1rem 0;
}

.single_movie_info_genre {
  display: inline-block;
  border-radius: 15px;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 10px 17px;
  background: rgba(20,20,20,0.1);
  color: grey;
}

.like_btn {
  background-color: green;
}

.single_movie_info button,
.single_movie_info input {
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 10px 17px;
  border-radius: 5px;
}

.single_movie_info input {
  background-color: green;
  margin-right: 10px;
}

.unlike_btn {
  background-color: red;
}