.container {
  display: grid;
  margin-bottom: 5px;
}

.profile_container {
  border: 1px solid #000;
  margin-top: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.user_info p {
  margin-top: 5px;
  margin-left: 5px;
}

.likedMovies_info p,
.likedMovies_info p {
  text-align: center;
}

.likedMovies_info {
  border-left: 1px solid #000;
}

.user_data_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.likedMovies_container {
  text-decoration: none;
  width: 100px;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(20, 20, 20, 0.2), 0 3px 1px 0 rgba(20, 20, 20, 0.2);
  margin: 1rem auto;
  cursor: pointer;
  display: inline-block;
  position: relative;
  
}

.likedMovies_container img {
  width: 100px;
  height: 150px;
}

.likedMovies_container:hover {
  transform: scale(1.03);  
}

.movie_info {
  color: #000;
  text-align: center;
}

.movie_info_title {
  font-size: 0.7rem;
  padding: 5px;
}

.movie_info_rating {
  color:rgba(20, 20, 20, 0.7);
  padding: 5px;
  font-size: 0.7rem;
}

.profile_container button {
  color: #fff;
  cursor: pointer;
  background-color: red;
}

.friends_container {
  width: 40%;
  margin-left: 10px;
}

.friends_container p {
  display: flex;
  justify-content: space-between; 
}