.navbar { 
  position: relative;
  display: block;
  height: 35px;
  z-index: 3;
}

.container {
  background-color: rgba(1,1,1,0.9);
  width: 100%;
  max-width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 2fr;
  justify-content: space-between;
  position: fixed;
  height: 35px;
  z-index: 3;
}

.container h3 {
  display: flex;
  align-items: center;
  color: #fff;
}

.container h3 input {
  margin-left: 10px;
}

.nav_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
  align-items: center;
}

.nav_list a {
  text-decoration: none;
  color: #fff;
}