.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.form_container {
  min-width: 500px;
  background-color: bisque;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.input_container {
  display: block;
  margin: 3%;
}

.input_container:first-child {
  display: block;
  margin-top: 0;
}

.label {
  display: block;
}

.input {
  background-color: lightslategray;
}


.button {
  padding: 10px 17px;
  margin-top: 15px;
  background-color: mediumaquamarine;
  border: none;
  border-radius: 5px;
}

.signup_container {
  margin-top: 25px;
}